$primary_color: #00ff00;
$secondary_color: #fde910;
$background_color: #161616;

$invert_background_color: invert($background_color);

QWidget{
    background-color: $background_color;
}

QMainWindow{

    QScrollBar{
        background: transparent;
        width: 15px;
        margin: 0;
        
        &::add-line, &::sub-line, &::add-page, &::sub-page{
            width: 10px;
            height: 10px;
            background: none;
        }
    }

    QTextEdit#InputText{
        border: 1.5px solid $primary_color;
        border-radius: 10px;

        color: $invert_background_color;
    }

    QPushButton#SendButton{
        background-color: $secondary_color;
        border: none;
        border-radius: 10px;

        &:hover{
            background-color: lighten($primary_color, 10%);
        }
    }
}