$primary_color: #00ff00;
$secondary_color: #fde910;
$background_color: #161616;

$invert_background_color: invert($background_color);

@mixin Message($type){
    padding: 10px;
    border-radius: 15px;
    margin: 0px;

    @if ($type == "my"){
        background-color: $primary_color;
        border-bottom-right-radius: 5px;
    } @else if ($type == "other_user"){
        background-color: $secondary_color;
        border-bottom-left-radius: 5px;
    }
}

QWidget{
    background-color: $background_color;
}

QMainWindow{
    /*
    QScrollArea#ChatListArea{
        border: 1.5px solid $primary_color;
        border-radius: 10px;
        padding: 1.5px;      
    }
    */

    QLabel#myMessage{
        @include Message("my")
    }

    QLabel#otherUserMessage{
        @include Message("other_user")
    }
    
    QScrollArea#MessageArea{
        border: none;
    }

    QScrollBar{
        background: $background_color;

        border-radius: 10px;

        width: 10px;

        &::handle{
            background-color: $secondary_color;
            border-radius: 5px;
            min-height: 15px;
        }
        

        &::add-line, &::sub-line, &::add-page, &::sub-page{
            width: 0;
            height: 0;
            background: none;
        }
    }

    QTextEdit#InputText{
        border: 1.5px solid $primary_color;
        border-radius: 10px;

        padding: 1.5px;

        color: $invert_background_color;
    }

    QPushButton#SendButton{
        background-color: $secondary_color;
        border: none;
        border-radius: 10px;

        &:hover{
            background-color: lighten($primary_color, 10%);
        }
    }

    QLabel#ContactAvatar{
    	border-radius: 20px;
    	background-clip: border; 
    	color: $invert_background_color; 
    	font: 12pt;
        font-weight: bold;
    }                                      

    QLabel#ChatLastMessageLabel{
        color: $invert_background_color;
    }                                      

    QLabel#ChatNameLabel{
        color: $invert_background_color;
        font-weight: bold;
    }

    QScrollArea#ChatListArea{
        border: 1.5px solid $primary_color;
        border-radius: 10px;
        padding: 1.5px;
    }

    QWidget#ContactCardContent{
        QWidget{
            background-color: rgba($background_color, $alpha: 0);
        }
        
        &:hover{
            background-color: lighten($background_color, 10);
        }
    }
}    