$primary_color: #00ff00;
$secondary_color: #fde910;
$background_color: #161616;

QMainWindow{
    background-color: $background_color;

    QPushButton#SendButton{
        background-color: $primary_color;
        border: none;
        border-radius: 10px;

        &:hover{
            background-color: lighten($primary_color, 10%);
        }
    }
}