[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
libsass = "*"
flake8 = "*"
coverage = "*"
pydantic = {extras = ["email"], version = "*"}
websockets = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.9"
