[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySide6 = "==6.2.1"
libsass = "==0.21.0"
pydantic = "==1.8.2"
email-validator = "==1.1.3"
websockets = "==10.0"
loguru = "==0.5.3"
pillow = "==8.4.0"
SQLObject = "==3.8.0"
click = "==7.1.2"
nekrodwidgets = "==0.0.3.4"

[dev-packages]
flake8 = "==4.0.1"
coverage = "==6.0.2"

[requires]
python_version = "3.9"
