#ExitButton, #MinimazeButton{
    background-color: #121212;
    border: none;
}

#ExitButton:hover{
    background-color: red;
}

#MinimazeButton:hover{
    background-color: #333333;
}

QMainWindow{
    background-color: #121212;
}

#LabelMT{
    color: lime;
}

#scrollAreaWidgetContents{
    background-color:#121212;
}
#MessagePole{
    border: none;
}

#MyMessage{
    border-width: 50px;
    border-image: url("svg/Mes_me.svg");
    color:lime;
}

#MyMessageText{
    color: rgb(255, 255, 255);
}

#MyMessageTime{
    color: grey;
}