QPushButton{
    background-color: #121212;
    border: none;
}

QPushButton#ExitButton:hover{
    background-color: red;
}

QPushButton#MinimazeButton:hover{
    background-color: #333333;
}

QMainWindow{
    background-color: #121212;
}

QLabel#LabelMT{
    color: lime;
}
